<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="background-color:#aaf0e3;">
<div class="container-fluid text-center">

<div><h2 style="color:#ad67e4;"> Manage Active Todos </h2></div>

<div class="m-3">
<a class="h4" th:href="@{/todos/new}">Add New Todo</a>
</div>

<div class="m-3">
<a class="h5" onclick="back()">Back</a>
</div>

<div th:if="${message}" class="alert alert-success text-center">
  [[${message}]] 
</div>

 
  

<div>
 <table class="table table-bordered" style="border-width: 7px; border-color: black;">
  <thead class="thead-dark" style="background-color:#c899ed;">
    <tr>
      <th>TODO ID</th>
      <th>EXPLANATION</th>
      <th>PRIORITY</th>
      <th>GROUP</th>
      <th>DUE DATE</th>
      <th>STATUS</th>
      <th></th>
    </tr>
  </thead>
 <tbody>
 <th:block th:each="todo: ${todoList}">
  <tr>
  <td>[[${todo.id}]]</td>
  <td>[[${todo.explanation}]]</td>
  <td>[[${todo.priority}]]</td>
  <td>[[${todo.todoGroupIO.name}]]</td>
  <td>[[${todo.dueDate}]]</td>
  <td>[[${todo.status}]]</td>
  <td>
     <a class="h5 mr-3" th:href="@{'/todos/complete/' + ${todo.id}}">Complete</a>
     <a class="h5 mr-3" th:href="@{'/todos/edit/' + ${todo.id}}">Edit</a>
     <a class="h5"  th:href="@{'/todos/delete/' + ${todo.id}}">Delete</a>
  </td>
  </tr>
 
 </th:block>
 
 </tbody>
 </table>
</div>

</div>

<script type="text/javascript">
function back(){
	window.location = "/";
	
}
</script>
</body>
</html>